h1 {
	font-size: 45px;
}
body {
    background-color: hsl(210, 15%, 50%);
	color: white;
	font-size: 80px;
	margin: auto;
	height: 100%;
	text-align: center;
}
.title {
	margin-top: 150px;
}
#result{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
